/* Global styles */
:root {
  --primary: rgb(74, 79, 80);
}

* {
  font-family: "Lato", sans-serif;
}

hr {
  margin-bottom: 0;
}

.navbar {
  min-height: 5rem;
}

.button.is-primary {
  background: var(--primary);
}

.button.is-primary:hover {
  background: hsl(247, 84%, 63%);
}

/* Helper styles */

.icon-padding-left {
  margin-left: 0.5rem;
  color: #212121;
}

.icon-padding-right {
  margin-right: 0.5rem;
}

/* Hero styles */

.hero {
  background: linear-gradient(rgba(255, 255, 255, 0.705),
      rgba(255, 255, 255, 0.301)),
    url(https://i.imgur.com/sahcOxI.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .hero .title {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
  } */

.hero .input {
  width: 400px;
}

/* Featured styles */

.featured {
  padding: 4rem 0;
}

.featured .level {
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(74, 79, 80);
}

.featured .level-item h2 {
  color: var(--primary);
  font-weight: 600;
}

.featured article .subtitle {
  margin-top: 1rem;
  color: #212121;
}

/* Categories styles */

.category {
  margin-top: 2rem;
}

.category span {
  opacity: 0.5;
  font-size: 1rem;
  margin-left: 1rem;
  font-weight: 400;
}

.category ul {
  list-style: none;
  padding: 0;
}

.category li {
  padding-top: 1rem;
}

.category .category-more {
  font-size: 0.7rem;
  text-transform: uppercase;
  color: var(--primary);
  font-weight: 700;
  margin-top: 1rem;
}

/* Footer styles */

.footer {
  margin-top: 5rem;
  background: white;
  border-top: 1px solid var(--primary);
}

.footer .links {
  display: flex;
  justify-content: center;
}

.footer .links a {
  margin: 0 1rem;
}

/* Buttons */
#plus {
  color: white;
  margin-right: 15px;
  font-size: 30px;
  padding: 10px 20px 15px 20px;
  background-color: rgb(74, 79, 80);
  border: solid 3px rgb(74, 79, 80);
  border-radius: 10px;
}

#input {
  transform: translate(0px, 5px);
  width: 100px;
  padding: 7px 0 7px 20px;
  font-size: 40px;
  text-align: center;
  border: solid 3px rgb(74, 79, 80);
  border-radius: 10px;
  margin-bottom: 25px;
}

#minus {
  color: white;
  margin-left: 15px;
  font-size: 30px;
  padding: 10px 22.5px 15px 22.5px;
  background-color: rgb(74, 79, 80);
  border: solid 3px rgb(74, 79, 80);
  border-radius: 10px;
}

#answer {
  text-align: center;
  background-color: white;
  margin-left: 40%;
  margin-right: 40%;
  border-radius: 20%;
  border-style: solid;
  color: red;
  font-size: 50px;
}

#totalCost {
  -webkit-text-stroke: 2px black;
  text-align: center;
  color: red;
}

.hero {
  margin-bottom: -100px;
}

#totalRepairCost {
  margin-top: -100px;
}

#logo {
  height: 100px;
  width: 100px;
}

#companyName,
strong {
  position: absolute;
  left: 49px;
  bottom: 19px;
  color: white;
  background-color: rgb(74, 79, 80);
  padding-bottom: -50px;
  margin-top: 70px;
}

#createEstimate {
  margin-top: 60px;
}

h1 {
  font-size: 25px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

#totalCostEach {
  margin-bottom: 5px;
}